DATABASE_URL=

JWT_SECRET_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_FROM=
EMAIL_PASSWORD=
EMAIL_USE_TLS=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_AUTH_URL=
GOOGLE_TOKEN_URL=
GOOGLE_USERINFO_URL=
SESSION_SECRET_KEY=


STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
PRICE_STARTER_MONTHLY=
PRICE_PREMIUM_MONTHLY=
PRICE_ULTIMATE_ONETIME=
STRIPE_WEBHOOK_SECRET=
